<div class="modal-header">
    <h3>{{ heading }}</h3>
</div>
<div class="modal-body">
    <form action="{{ action }}" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-floating pb-2" id="fname-float">
            {{ form.firstname }}
            <label for="fname-float">{{ form.firstname.label }}</label>
            <div class="invalid-feedback" id="feedback">
                First name must consist only uppercase and lowercase letters.
            </div>
        </div>
        <div class="form-floating pb-2" id="lname-float">
            {{ form.lastname }}
            <label for="lname-float">{{ form.lastname.label }}</label>
            <div class="invalid-feedback" id="feedback">
                Last name must consist only uppercase and lowercase letters.
            </div>
        </div>
        <div class="form-floating pb-2" id="email-float">
            {{ form.email }}
            <label for="email-float">{{ form.email.label }}</label>
            <div class="invalid-feedback" id="feedback">
                Not a valid email address.
            </div>
        </div>
        <div class="form-floating pb-2" id="phone-float">
            {{ form.phone }}
            <label for="phone-float">{{ form.phone.label }}</label>
            <div class="invalid-feedback" id="feedback">
                Phone must consist only digits spaces or +()-
            </div>
        </div>
        <div class="float-end pt-3">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-check"></i> {{ button }}</button>
            <button class="btn btn-danger" type="button" data-bs-dismiss="modal">
                <i class="fa fa-remove"></i> Cancel</button>
        </div>
    </form>
</div>