{% extends 'navbar.html' %}

{% load modal %}

{% block content %}
<div class="containter m-3 p-3">
    <div class="row pb-3">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-responsive-sm" id="contacts">
                <thead>
                    <tr>
                        <th width="20%">First Name</th>
                        <th width="20%">Last Name</th>
                        <th width="25%">Email</th>
                        <th width="15%">Phone</th>
                        {% url 'add' as add %}
                        <th width="auto"><button class="btn btn-success float-end" {% modal_popup add %}>
                            <i class="fa fa-plus"></i></button></th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in listing %}
                    {% url 'modify' contact.slug as modify %}
                    {% url 'delete' contact.slug as delete %}
                    <tr>
                        <td>{{ contact.firstname }}</td>
                        <td>{{ contact.lastname }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone }}</td>
                        <td>
                            <div class="btn-group float-end">
                                <button class="btn btn-primary" {% modal_popup modify %}><i
                                        class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger" {% modal_popup delete %}><i
                                        class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}