{% load modal %}
<div class="modal-header">
    <h3>Register new user</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <div class="containter-sm">
        {% url 'register' as register %}
        <form action="{% modal_post_request register 'register_form' %}" id="register_form">
            {% csrf_token %}
            {{ registration_form }}
            <button type=submit class="btn btn-primary">Register</button>
        </form>
    </div>
</div>