{% extends 'base.html' %}
{% load modal %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img src="{% static 'img/pood0g.jpg' %}" width=40 alt="">
        </a>
        <ul class="navbar-nav">
            {% if not user.is_authenticated %}
            <li class="nav-item">
                {% url 'login' as login %}
                <a href="#" class="nav-link" {% modal_popup login %}><i class="fa fa-sign-in fa-sm"></i> Login</a>
            </li>
            <li class="nav-item">
                {% url 'register' as register %}
                <a href="#" class="nav-link" {% modal_popup register %}><i class="fa fa-user-plus fa-sm"></i>
                    Register</a>
            </li>
            {% else %}
            {% for nav in nav_items %}
            <li class="nav-item">
                <a class="nav-link {{ nav.active }}" href="{{ nav.url }}"><i class="fa {{ nav.icon }}"></i>
                    {{ nav.title }}</a>
            </li>
            {% endfor %}
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out fa-sm"></i> Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}